@model WebApp.Models.Employees.EmployeeListViewModel;

@{
    Layout = "_Layout";
}

<h2>List of employees</h2>

<table class="table table-hover">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Email</th>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>
                    <a class="btn btn-info" role="button" asp-action="Details" asp-route-id="@employee.Id">Details</a>
                </td>
            </tr>
        }    
    </tbody>
</table>
